*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rethink Sans', sans-serif;
    text-decoration: none;
}
ul li{
    display: flex;
}
.names{
    margin: 7px;
    font-size: 12px;
    
}
.main{
    background-color: whitesmoke;
    
}